USE [master]
GO
/****** Object:  Database [DBTransportasi]    Script Date: 10/12/2018 22:05:46 ******/
CREATE DATABASE [DBTransportasi] ON  PRIMARY 
( NAME = N'DBTransportasi', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\DBTransportasi.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBTransportasi_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\DBTransportasi_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBTransportasi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBTransportasi]
GO
/****** Object:  Table [dbo].[Transportasi]    Script Date: 10/12/2018 22:05:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transportasi](
	[RequestId] [int] NULL,
	[NameRequestor] [nchar](30) NULL,
	[RequestorId] [nchar](15) NULL,
	[Unit] [nchar](15) NULL,
	[DateIssue] [datetime] NOT NULL,
	[UnitDestination] [nchar](15) NULL,
	[acRegis] [nchar](15) NULL,
	[Transportation] [nchar](30) NULL,
	[Phone] [nchar](15) NULL,
	[Intruction] [ntext] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
